.how-lm-works
    .how-lm-works__img
        iframe.content(
            width='100%'
            height='100%'
            src='https://www.youtube.com/embed/2sYWHoiGYQQ?rel=0'
            frameborder='0'
            allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture'
            allowfullscreen
        )
    .how-lm-works__main
        h2.how-lm-works__h2.page__h2 How LegalMatch Works?
        p.how-lm-works__text.
            We've helped more than #[span.how-lm-works__text-strong 5 million clients] find the right lawyer - for
            free. Present your case online in minutes. LegalMatch matches you to
            pre-screened lawyers in your city or county based on the specifics of
            your case. Within 24 hours experienced local lawyers review it and
            evaluate if you have a solid case. If so, attorneys respond with an
            offer to represent you that includes a full profile with details on their
            fee structure, background and ratings by other LegalMatch users so
            you can decide if they're the right lawyer for you.
