-
    var list = [
        {
            name: 'Deborah B.',
            address: 'Lansing, MI',
            category: 'Family Law',
            img: '/bd/intro1-redesign/images/lawyer-5.png',
            users: 8,
            rating: 5,
            rating_overall: 5,
            rating_1: 5,
            rating_2: 5,
            rating_3: 5,
            rating_4: 5,
            rating_5: 5,
            rating_6: 5,
            would_hire: 86,
            would_recommend: 86,
            review: [
                {
                    rating: 5,
                    reviewer: 'Dexter Merchal',
                    date: '09/10/2013',
                    content: 'Deb did a great job. Got my bench warrant set aside...was sure I was going to jail...phew. Judge seemed to respect her and I got what I wanted. I\'ve sent some of my buddies to her who need some serious help with their child support.'
                },
                {
                    rating: 5,
                    reviewer: 'Sam Brinkle',
                    date: '06/28/2012',
                    content: 'I am very thankful that I hired Ms. Bonner. I was devastated about getting divorced and thought sure that because I was a guy, I would not get treated fairly in the court. I had originally started out with an ADAM firm, but changed to Ms. Bonner, who represented my interests as a father far beyond my expectations. I have custody of my child and am so happy I decided to use Ms. Bonner.'
                },
                {
                    rating: 5,
                    reviewer: 'Beth Gormal',
                    date: '06/28/2012',
                    content: 'Ms. Bonner was great to work with and helped me understand the process and kept litigation to a minimum but still got me the resolution I wanted.'
                },
                {
                    rating: 5,
                    reviewer: 'Nedamer Bajal',
                    date: '01/19/2012',
                    content: 'SHAZAM AND HIS ASSOCIATES ARE EXCELLENT. I retained Shazam for my case as well as a probation Violation due to my new charge. My charges have been dismissed, and my probation was re-instated, and I never had to appear in Court. I would recommend this Attorney to anyone. Shazam and his Staff are the best, and treat you not as a criminal, but a very important person that they want to help.'
                },
                {
                    rating: 5,
                    reviewer: 'Eli Strausman',
                    date: '01/11/2012',
                    content: 'Outstanding work! Not happy that I had to hire an attorney, but in retrospect it was worth it. Thanks Deb for your professionalism and help.'
                }
            ]
        },
        {
            name: 'Tate Y.',
            address: 'San Francisco, CA',
            category: 'Employment & Labor Law',
            img: '/img_common/landing-page/atty/attorney-tate-young-100x100.jpg',
            users: 29,
            rating: 4,
            rating_overall: 4,
            rating_1: 4,
            rating_2: 4,
            rating_3: 4,
            rating_4: 4,
            rating_5: 5,
            rating_6: 5,
            would_hire: 100,
            would_recommend: 100,
            review: []
        },
        {
            name: 'Mitchell M.',
            address: 'Cherry Hill, NJ',
            category: 'Family Law',
            img: '/img_common/landing-page/atty/mitchell-m.jpg',
            users: 21,
            rating: 5,
            rating_overall: 5,
            rating_1: 5,
            rating_2: 5,
            rating_3: 5,
            rating_4: 5,
            rating_5: 5,
            rating_6: 5,
            would_hire: 100,
            would_recommend: 100,
            review: [
                {
                    rating: 5,
                    reviewer: 'hollis bassknight',
                    date: '12/10/2012',
                    content: 'This lawyer exceeded my expectations. I found Attorney Mullen to be very reliable, courteous, prompt, and knowledgeable. He comes highly recommend if you are looking for an attorney who is unbiased, and highly proficient at discerning the veracity in your case. "While also showing genuine concern for what\'s in the best interest of folks"'
                },
                {
                    rating: 5,
                    reviewer: 'Ricky Womack',
                    date: '03/18/2010',
                    content: 'It was good to find an attorney who is willing to provide the services that he say he will provide. Has communicated with me on all areas that he has worked on or had questions about.'
                },
                {
                    rating: 5,
                    reviewer: 'Diane Perrin',
                    date: '02/10/2009',
                    content: 'I hired Mitchell Mullen to work on my case that was quite old, as far as legal judgments go. Mitchell is aggressive, patient, understanding and persistent. He was very reachable at all times and fought very hard for me. His staff is very proficient and courteous, as well. He has a lot of integrity, so I knew that I could trust him. That was vitally important and one of the biggest reasons that I would retain him again. I recommend Mitchell to anyone needing legal representation in any area of family law.'
                },
                {
                    rating: 5,
                    reviewer: 'william j. stiehl jr.',
                    date: '08/19/2008',
                    content: 'Mitchell is very professional and I would recommend him for anyone.'
                },
                {
                    rating: 5,
                    reviewer: 'Sandra Richards',
                    date: '04/12/2007',
                    content: 'Mr. Mullen took the time to listen to me as a client, he understood the ramifications in my case and impressed me with his knowledge and insight with regards to my individual divorce matter. I appreciate the fact that he had enough confidence in me to believe what I was saying, and I truly believe that I will be well represented for the duration of my divorce matter. Thank You Mr. Mullen you restored my faith in human nature. Your new client William J. Stiehl Jr.'
                }
            ]
        },
        {
            name: 'Brigida R.',
            address: 'Dallas, TX',
            category: 'Family Law',
            img: '/img_common/landing-page/atty/bridgida-r_100x100.jpg',
            users: 5,
            rating: 4,
            rating_overall: 5,
            rating_1: 4,
            rating_2: 4,
            rating_3: 5,
            rating_4: 5,
            rating_5: 5,
            rating_6: 5,
            would_hire: 100,
            would_recommend: 100,
            review: [
                {
                    rating: 5,
                    reviewer: 'Pablo Macias',
                    date: '03/26/2007',
                    content: 'My initial feeling after speaking to Brigida was of relief, because I knew she was going to be the right lawyer for me. I like the fact that she made the effort to call me instead of having a secretary call me back. She was able to meet with me right away and get started on my case. She answered all my questions thoroughly, and gave me the confidence I needed to ensure that I get the best results for my case. She fought for me, the FATHER in a custody issue and we won. I know I made the right decision in choosing you as my lawyer. Me and my son Thank You!'
                },
                {
                    rating: 5,
                    reviewer: 'Valerie Tidwell',
                    date: '01/29/2007',
                    content: 'Mrs. Rodriguez and Ms. White have been of great expertease and reasonable hours. I have enjoyed my time being a client and am currently still using the two attorney\'s.'
                },
                {
                    rating: 5,
                    reviewer: 'cheryl toon',
                    date: '07/06/2010',
                    content: 'ms. rodriguez is not only a very confident lawyer. she became a friend to me when i really needed one. i will never forget her. cheryl toon'
                },
                {
                    rating: 5,
                    reviewer: 'Frankie Emerson',
                    date: '03/21/2007',
                    content: 'Brigida cared about me as a person not just a client. She is very personable, caring and empathetic. I would reccommend Brigida to anyone who needs a lawyer.'
                },
                {
                    rating: 5,
                    reviewer: 'Anthony Turnbough',
                    date: '06/06/2007',
                    content: 'Very Knowlegable, very passionate about her work.'
                }
            ]
        },
    ];

.highly-rated__modal
    each item, index in list
        .modal.fade.highly-rated__modal-item(
            id="highly-rated__item" + (index + 1)
            tabindex='-1'
            role='dialog'
            aria-labelledby="highly-rated__item" + (index + 1)
            aria-hidden='true'
        )
            .modal-dialog(role='document')
                .modal-content
                    .modal-header.highly-rated__modal-header
                        button.close(
                            type='button'
                            data-dismiss='modal'
                            aria-label='Close'
                        )
                            span(aria-hidden='true') X
                        .highly-rated__modal-header-cont
                            .highly-rated__modal-header-info
                                .highly-rated__modal-photo
                                    img.highly-rated__modal-photo-circle(
                                        src=item.img
                                        alt=item.name
                                    )
                                .highly-rated__modal-attorney-info
                                    h3.highly-rated__modal-attorney-name= item.name
                                    label.highly-rated__modal-attorney-text-muted= item.address
                                    p.highly-rated__modal-attorney-category= item.category
                            .highly-rated__modal-attorney-rating
                                span.highly-rated__modal-rating-title.
                                    Rating #[small (#{item.users} users)]

                                - var starRatingClass = "star-rating--" + item.rating + "-star";

                                span.highly-rated__modal-star-rating.star-rating(
                                    class=starRatingClass
                                )
                    .modal-body.highly-rated__modal-body
                        .highly-rated__modal-rating-container
                            .highly-rated__modal-rating-row
                                .highly-rated__modal-rating-column-1
                                    p.highly-rated__modal-rating-container-text
                                        strong Overall
                                .highly-rated__modal-rating-column-2
                                    - var starRatingClassOverall = "star-rating--" + item.rating_overall + "-star";

                                    span.highly-rated__modal-star-rating.star-rating(
                                        class=starRatingClassOverall
                                    )
                            .highly-rated__modal-rating-row
                                .highly-rated__modal-rating-column-1
                                    p.highly-rated__modal-rating-container-text Responded in a timely manner
                                .highly-rated__modal-rating-column-2
                                    - var starRatingClass1 = "star-rating--" + item.rating_1 + "-star";

                                    span.highly-rated__modal-star-rating.star-rating(
                                        class=starRatingClass1
                                    )
                            .highly-rated__modal-rating-row
                                .highly-rated__modal-rating-column-1
                                    p.highly-rated__modal-rating-container-text Answered questions clearly
                                .highly-rated__modal-rating-column-2
                                    - var starRatingClass2 = "star-rating--" + item.rating_2 + "-star";

                                    span.highly-rated__modal-star-rating.star-rating(
                                        class=starRatingClass2
                                    )
                            .highly-rated__modal-rating-row
                                .highly-rated__modal-rating-column-1
                                    p.highly-rated__modal-rating-container-text Understood needs
                                .highly-rated__modal-rating-column-2
                                    - var starRatingClass3 = "star-rating--" + item.rating_3 + "-star";

                                    span.highly-rated__modal-star-rating.star-rating(
                                        class=starRatingClass3
                                    )
                            .highly-rated__modal-rating-row
                                .highly-rated__modal-rating-column-1
                                    p.highly-rated__modal-rating-container-text Gave complete and clear information
                                .highly-rated__modal-rating-column-2
                                    - var starRatingClass4 = "star-rating--" + item.rating_4 + "-star";

                                    span.highly-rated__modal-star-rating.star-rating(
                                        class=starRatingClass4
                                    )
                            .highly-rated__modal-rating-row
                                .highly-rated__modal-rating-column-1
                                    p.highly-rated__modal-rating-container-text Knowledgeable in legal area
                                .highly-rated__modal-rating-column-2
                                    - var starRatingClass5 = "star-rating--" + item.rating_5 + "-star";

                                    span.highly-rated__modal-star-rating.star-rating(
                                        class=starRatingClass5
                                    )
                            .highly-rated__modal-rating-row
                                .highly-rated__modal-rating-column-1
                                    p.highly-rated__modal-rating-container-text Good value for money
                                .highly-rated__modal-rating-column-2
                                    - var starRatingClass6 = "star-rating--" + item.rating_6 + "-star";

                                    span.highly-rated__modal-star-rating.star-rating(
                                        class=starRatingClass6
                                    )
                            .highly-rated__modal-rating-row
                                .highly-rated__modal-rating-column-1
                                    p.highly-rated__modal-rating-container-text Would hire again
                                .highly-rated__modal-rating-column-2= item.would_hire + "%"
                            .highly-rated__modal-rating-row
                                .highly-rated__modal-rating-column-1
                                    p.highly-rated__modal-rating-container-text Would recommend to friend
                                .highly-rated__modal-rating-column-2= item.would_recommend + "%"

                        if item.review.length
                            .highly-rated__modal-comment-cont
                                each review in item.review
                                    .highly-rated__modal-comment-item
                                        - var starRatingClassReview = "star-rating--" + review.rating + "-star";

                                        span.highly-rated__modal-star-rating.star-rating(
                                            class=starRatingClassReview
                                        )
                                        strong= "by " + review.reviewer + ", " + review.date
                                        p= review.content

                    .highly-rated__modal-footer
                        button.highly-rated__modal-close(
                            type='button'
                            data-dismiss='modal'
                        ) Close
